<header class="page-header">
    <nav class="navbar">
        <button onclick="window.loefbijter.openMenu()" aria-label="Open Mobile Menu" class="open-mobile-menu fa-lg">
            <i class="material-icons" aria-hidden="true">menu</i>
        </button>

        <a href="/"><img id="navbar-brand-img" alt="Logo nijmeegse studenten zeil vereniging de loefbijter" src="/assets/images/headerlogo.png"/></a>

        <ul class="top-menu-wrapper">
            <div class="top-menu">
                <div class="mob=block">
                    <img id="sidebar-brand-img" alt="Logo nijmeegse studenten zeil vereniging de loefbijter" src="/assets/images/headerlogo.png"/>
                    <button onclick="window.loefbijter.closeMenu()" aria-label="Close Mobile Menu" class="close-mobile-menu fa-lg">
                        <i class="material-icons" aria-hidden="true">clear</i>
                    </button>
                </div>
                    {% for item in site.data.menu.items %}
                        {% if item.subitems %}
                            <div class="dropdown">
                                <a href="{{ item.url }}" class="dropbtn">{{ item.title }}
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-content" role="menu">
                                    {% for subitem in item.subitems %}
                                        <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
            </div>
        </ul>
    </nav>
</header>