---
---

@import 'bootstrap/bootstrap';

body {
  font-family: "Open Sans", sans-serif;
  color: #8E9DAE;
  background-color: #fff;
}
body, html {
  margin: 0;
  padding: 0;
}
nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}