$color-white: #ffffff;
$color-blue: #2c468b;
$color-black: #221f1f;
$color-overlay: rgba(0, 0, 0, 0.5);

.no-transition {
  transition: none !important;
}

#navbar-brand-img, #sidebar-brand-img {
   height: 2em;
}
//#navbar {
//  overflow: hidden;
//
//}
//
//#navbar a {
//  float: left;
//  font-size: 16px;
//  color: #000;
//  text-align: center;
//  padding: 14px 16px;
//  text-decoration: none;
//}
.page-header {
  background-color: $color-blue;
  button {
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;

    .top-menu-wrapper {
      color: $color-white;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: background 0.5s;
      }
    }

    .open-mobile-menu i {
      color: $color-white;
    }

    .top-menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .top-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: auto;
      padding: 1.5rem 1.5rem;
      background: $color-blue;
    }

    .top-menu-wrapper.show-offcanvas::before {
      background: $color-overlay;
      z-index: 1;
    }

    .top-menu-wrapper.show-offcanvas {
      .panel,
      .top-menu {
        transform: translate3d(0, 0, 0);
        transition-duration: 0.7s;
      }
    }

    .top-menu-wrapper.show-offcanvas {
      .top-menu {
        transition-delay: 0.2s;
      }
    }

    // Top Menu Style
    ul a {
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: color 0.35s ease-out;
    }

    .has-dropdown i {
      display: none;
    }

    .sub-menu {
      padding: 0.5rem 1.5rem 0 1.5rem;

      a {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0rem;
      }
    }

    .top-menu {
      //li + li {
      //  margin-top: 1.3rem;
      //}
      //
      //> li:last-child {
      //  margin-top: auto;
      //}

      .mob-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
      }
    }
  }
}
